{% extends 'layout.html' %}
{% block content %}
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a href="{{url_for('mainhome')}}">Home</a></li>
    		<li class="breadcrumb-item active"><a href="{{url_for('fb_home')}}">Firmware Update Patch Builder</a></li>
    		<li class="breadcrumb-item active" aria-current="page">Build new Firmware Update Patch</li>
  		</ol>
	</nav>
	<form method="POST" action="">
		{{ form.hidden_tag() }}

		<div class="form-group row">
    		<label class="col-sm-2 col-form-label">Patch Build Id</label>
    		<div class="col-sm-7">
    			{{form.fb_buildid(class="form-control",value=build)}}
    		</div>
  		</div>

  		<div class="form-group row">
    		<label class="col-sm-2 col-form-label">Patch Name</label>
    		<div class="col-sm-7">
    			{{form.fb_name(class="form-control")}}
    		</div>
  		</div>

  		<div class="form-group row">
    		<label class="col-sm-2 col-form-label">Description</label>
    		<div class="col-sm-7">
    			{{form.fb_description(class="form-control")}}
    		</div>
  		</div>

  		<div class="form-group row">
    		<label class="col-sm-2 col-form-label">Architecture</label>
    		<div class="col-sm-7">
      			{{form.fb_osarch(class="form-control")}}
    		</div>
  		</div>

  		<div class="form-group row">
    		<label class="col-sm-2 col-form-label">Firmware Mode</label>
    		<div class="col-sm-7">
      			{{form.fb_type(class="form-control")}}
      			<small><code><strong>Current Patch </strong> is available for 005 Build image and above</code></small><br>
      			<small><code><strong>Legacy Patch </strong> is available for 45 Build image and below</code></small>
    		</div>
  		</div>

  		<!--Minumum Maximum Build-->
  		<p>Minimum and Maximum Build Version<br>
  			<small>Please mention Minimum and Maximum Build version.This makes patch to work between the mentioned Build versions.<br>
  			In order to skip this section please mention <b>' 1 '</b> value in both fields.</small>
  		</p>
  		<div class="form-row">
  			<div class="col-4">
  				{% if form.fb_min_img_build.errors %}
  					{{form.fb_min_img_build(class="form-control is-invalid",placeholder="Minimum Build Version")}}
  					<div class="invalid-feedback">
  						{% for error in form.fb_min_img_build.errors %}
  							<span>{{error}}</span>
  						{% endfor %}
  					</div>
  				{% else %}
  					{{form.fb_min_img_build(class="form-control",placeholder="Minimum Build Version")}}	
  				{% endif %}
  			</div>
  			<div class="col-4">
      			{% if form.fb_max_img_build.errors %}
        			{{form.fb_max_img_build(class="form-control is-invalid",placeholder="Maximum Build Version")}}
        			<div class="invalid-feedback">
          				{% for error in form.fb_max_img_build.errors %}
            				<span>{{error}}</span>
          				{% endfor %}
        			</div>
      			{% else %}
	        		{{form.fb_max_img_build(class="form-control",placeholder="Maximum Build Version")}}
      			{% endif %}
  			</div>
  		</div>	

  		<p class="pt-3"><i class="fas fa-plus-square"></i> Adding Files and Packages<br>
  			<small>List all the URL's of Files and Packages to be added. Use semicolon <b>' ; '</b> as a seprator.<br>Prefixes : <b>boot-, core-, basic-, apps-, data-, root- and tmp-</b>.</small>
  		</p>
  		<div class="form-group row">
    		<div class="col-sm-10">
      			{{form.fb_add(class="form-control",placeholder='Example : apps-http://192.168.0.188/abc.sq;boot-http://192.168.0.188/initramfs.igz')}}
    		</div>
  		</div>

  		<p><i class="fas fa-minus-square"></i> Remove Files and Packages<br>
  		<small>List all the Files and Packages to be removed. Use Semicolon <b>' ; '</b> as a seprator.<br>Prefixes : <b>boot:, core:, basic:, apps:, data: and root:</b>.</small>
  		</p>
  		<div class="form-group row">
    		<div class="col-sm-10">
      			{{form.fb_remove(class="form-control",placeholder='Example : apps-abc.sq:boot-kernel')}}
    		</div>
  		</div>
  		<p><i class="fas fa-scroll"></i> Install Script</p>
  		<div class="form-group row">
    		<div class="col-sm-10">
      			{{form.fb_install_script(class="form-control")}}
    		</div>
  		</div>
  		<hr class="my-2">
  		<div class="form-group row">
    		<div class="col-sm-5">
       			{{form.fb_submit(class="btn btn-primary")}}
       			<a class="btn btn-warning" href="{{url_for('fb_home')}}" role="button">Cancel</a>
    		</div>
  		</div>	
	</form>
{% endblock content %}