{% extends 'layout.html' %}
{% block content %}
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a href="{{url_for('mainhome')}}">Home</a></li>
    		<li class="breadcrumb-item active"><a href="{{url_for('ibhome')}}">Image Builder</a></li>
    		<li class="breadcrumb-item active" aria-current="page">Build New Image</li>
  		</ol>
	</nav>
	<form method="POST" action="" >
		{{form.hidden_tag()}}

		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Image Build ID</label>
			<div class="col-sm-9">
				{{form.ib_buildid(class="form-control",value=ib_buildid)}}
			</div>
		</div>

		<div class="form-group row">
    		<label class="col-sm-3 col-form-label">Image Name</label>
    		<div class="col-sm-9">
    			{{form.ib_name(class="form-control",id="img_name_input")}}
    		</div>
  		</div>

  		<div class="form-group row">
    		<label class="col-sm-3 col-form-label">Image Description</label>
    		<div class="col-sm-9">
    			{{form.ib_description(class="form-control",id="img_description_input")}}
    		</div>
  		</div>

  		<div class="form-group row">
    		<label class="col-sm-3 col-form-label">Remote TC IPAddress</label>
    		<div class="col-sm-9">
      			{{form.ib_rmtcip(class="form-control")}}
    		</div>
  		</div>

  		<div class="form-group row">
    		<label class="col-sm-3 col-form-label">URL Gz Image</label>
    		<div class="col-sm-9">
    			{{form.ib_gzurl(class="form-control",id="gz_download_url",placeholder='http://URL/GZIMAGE')}}
    		</div>
  		</div>
  		<div class="border-top pt-2"></div>
  		<div class="form-group row">
    		<div class="col-sm-5">
       			{{form.submit(class="btn btn-sm btn-primary",id="buildbutton",onclick="myFunction();",**{'data-toggle':'collapse','data-target':'#demo'})}}
       			<a class="btn btn-sm btn-warning" href="{{url_for('cancel_build')}}" role="button">Cancel</a>
    		</div>
  		</div>	
	</form>

  <div id="demo" class="progress collapse">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>
 
<script type="text/javascript">
  function myFunction(){
    if(document.getElementById("img_name_input").value.length == 0 && document.getElementById("img_description_input").value.length ==0 && document.getElementById("gz_download_url").value.length ==0){
      alert('Empty fields are not allowed') ? "" : location.reload();
    };
  };
</script>
{% endblock content %}