{% extends 'layout.html' %}
{% block content %}
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a href="{{url_for('mainhome')}}">Home</a></li>
    		<li class="breadcrumb-item active" aria-current="page">Package Builder</li>
    		<a href="{{url_for('pb_newbuild')}}" class="btn btn-success btn-sm ml-auto">Build New Package</a>
  		</ol>
	</nav>
	{% if pb_pkg_count == 0 %}
		<p>Empty Package Build History !!</p>
	{% else %}
		{% for i in pb_package.items %}
			<div class="my-3 p-3 bg-light border rounded">
				<h6 class="border-bottom border-gray pb-2 mb-0">Package : {{i.pb_pkgname}}<br>
				Md5sum : {{i.pb_md5sum_pkg}}</h6>

				<div class="media text-muted pt-3">
					<rect width="100%" height="100%" fill="#007bff"/>
					<text fill="#007bff">Build Id : {{i.pb_buildid}}</text>
					<p class="media-body pb-3 mb-0 small lh-125 ">
        				<strong class="" lass="d-block text-gray-dark">Build by {{i.pb_author.username}} | Dated : {{ i.pb_date_posted.strftime('%d-%m-%Y')}} | Time : {{i.pb_date_posted.strftime('%H:%M %p')}}</strong>
      				</p>
      				<p class="media-body pb-3 mb-0 small lh-125">{{i.pb_description | safe}}</p>
				</div>
				<div class="border-top pt-2 mb-2">
			</div>
		{% endfor %}
	{% endif %}
{% endblock content%}