{% extends 'layout.html' %}
{% block content %}
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a href="{{url_for('mainhome')}}">Home</a></li>
    		<li class="breadcrumb-item active" aria-current="page">Package Builder</li>
    		<a href="{{url_for('pb_newbuild')}}" class="btn btn-success btn-sm ml-auto">Build New Package</a>
  		</ol>
	</nav>
	{% if pb_pkg_count == 0 %}
		<p>Empty Package Build History !!</p>
	{% else %}
		{% for i in pb_package.items %}
			<div class="media my-3 p-3 bg-light rounded shadow-sm ">
				
  				<img src="{{url_for('static',filename='images/pbico.png')}}" width="32" height="32" class="mr-3" alt="...">
  				<div class="media-body">
    				<h5 class="mt-0">{{i.pb_pkgname}}</h5>
    				<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        				<strong class="" lass="d-block text-gray-dark">Build by {{i.pb_author.username}} | Dated : {{ i.pb_date_posted.strftime('%d-%m-%Y')}} | Time : {{i.pb_date_posted.strftime('%H:%M %p')}}</strong>
      				</p>
    				<p class="media-body pt-1 pb-2 small lh-125 border-bottom border-gray ">{{i.pb_description | safe}}</p>
    				<small>
    					<i class="fas fa-sitemap"></i> Package OS Architecture is <mark>{{i.pb_os_arch}}</mark> <br>
    					<i class="fas fa-cloud-download-alt"></i> Download URL available <a>'Here'</a><br>
    					<i class="fas fa-check-circle"></i> Package {{i.pb_pkgname}}.sq md5sum is <mark>{{i.pb_md5sum_pkg}}</mark><br>
    					<i class="fas fa-check-circle"></i> Patch {{i.pb_patchname}}.tar.bz2 md5sum is <mark>{{i.pb_md5sum_patch}}</mark><br>
    				</small>
    				<div class="border-top pt-1 mb-2"></div>
    				{% if i.pb_author == current_user %}
    					<a class="badge badge-danger float-right pb-1" href="#" role="button">Remove</a>
    				{% endif %}
  				</div>
			</div>
		{% endfor %}
		<div class="rounded-0 col-lg-13 mx-auto">
    		{% for page_num in pb_package.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
      			{% if page_num %}
        			{% if pb_package.page == page_num %}
          				<a class="btn btn-secondary mb-4 mt-2" href="{{ url_for('pb_home',page=page_num)}}">{{ page_num }}</a>
        			{% else %}
          				<a class="btn btn-outline-info mb-4 mt-2" href="{{ url_for('pb_home',page=page_num)}}">{{ page_num }}</a>
        			{% endif %}  
      			{% else %}
        			...
      			{% endif %}
    		{% endfor %}
   		</div>	
	{% endif %}
{% endblock content%}