{% extends 'layout.html' %}
{% block content %}
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a href="{{url_for('mainhome')}}">Home</a></li>
    		<li class="breadcrumb-item active"><a href="{{url_for('pb_home')}}">Package Builder</a></li>
    		<li class="breadcrumb-item active"><a href="{{url_for('pb_newbuild')}}">Build New Package</a></li>
    		<li class="breadcrumb-item active" aria-current="page">Registered Host Node</li>
    		<a href="#" class="btn btn-success btn-sm ml-auto">Add Host Node</a>
    		
  		</ol>
	</nav>
{% endblock content %}